* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header {
    margin: 50px 0 0 0;
    text-align: center;
}

.startdiv{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: gainsboro;
}

.listdiv {
    margin: 50px 0 0 0;
    display: grid;
    gap: 25px;
    padding-left: 50px;
}

.listdiv h2 {
   text-align: center;
}

footer {
    margin: 50px 0 0 0;
    padding: 25px;
    text-align: center;
    background-color: gainsboro;
}

footer a  {
    text-decoration: none;
    color: black;
}

footer:hover {
    text-decoration: underline;
}